h1
{
    color: #D2691E;
    font-family: Georgia; 
    text-align: center; 
    font-size: 300%;
}
.FirstPara
{
    color: #800000;
    font-family: Verdana;
    font-size: 150%;
}
.SecPara
{
    color: #CA2D2D;
    font-size: 150%;
}

